@inherits RadzenComponent
@inject CommonService ComService
@inject IJSRuntime JS

<RadzenRow Gap="1rem">
    <RadzenText TextStyle="TextStyle.DisplayH5">
        @((MarkupString)MessageContent.Replace("\n", "<br/>"))
    </RadzenText>
</RadzenRow>

@* ユーザー名 *@
<RadzenRow class="rz-text-align-left" AlignItems="AlignItems.Center" Gap="0.5rem" RowGap="0.5rem" Style="width:100%">
    <RadzenColumn Size=@LoginFormTitleColumnSize>
        <label class="rz-label" for=@Id("workername")>@WorkerText</label>
    </RadzenColumn>
    <RadzenColumn Size=@LoginFormTextBoxColumnSize>
        <RadzenTextBox id=@Id("workername") Disabled="true" Name="Workername" @bind-Value=@workername @ref="txtWorkername" Style=@($"width:100%;font-size:{LoginFontSize};font-weight:{LoginFontWeight};") />
    </RadzenColumn>
</RadzenRow>
@* ユーザーID *@
<RadzenRow class="rz-text-align-left" AlignItems="AlignItems.Center" Gap="0.5rem" RowGap="0.5rem" Style="width:100%">
    <RadzenColumn Size=@LoginFormTitleColumnSize>
        <label class="rz-label" for=@Id("username")>@UserText</label>
    </RadzenColumn>
    <RadzenColumn Size=@LoginFormTextBoxColumnSize>
        <div class="rz-form-row">
            <div class="rz-form-input-wrapper">
                <RadzenTextBox AutoComplete=@AutoComplete AutoCompleteType=@UserNameAutoCompleteType id=@Id("username") Name="Username" @bind-Value=@username @ref="txtUsername" @onkeydown="@UsernameEnter" @oninput=@(args => username = args.Value.ToString()) @onfocus="@(args => OnUsernameFocus(args))" Change="@OnUsernameChanged" Style=@($"width:100%;font-size:{LoginFontSize};font-weight:{LoginFontWeight};") />
                <RadzenRequiredValidator Component="Username" Text=@UserRequired />
            </div>
        </div>
    </RadzenColumn>
</RadzenRow>
@* パスワード *@
<RadzenRow class="rz-text-align-left" AlignItems="AlignItems.Center" Gap="0.5rem" RowGap="0.5rem" Style="width:100%">
    <RadzenColumn Size=@LoginFormTitleColumnSize>
        <label class="rz-label" for=@Id("password")>@PasswordText</label>
    </RadzenColumn>
    <RadzenColumn Size=@LoginFormTextBoxColumnSize>
        <div class="rz-form-row">
            <div class="rz-form-input-wrapper">
                <RadzenPassword id=@Id("password") AutoComplete=@AutoComplete AutoCompleteType=@PasswordAutoCompleteType Name="Password" @bind-Value=@password @ref="txtPassword" @onkeydown="@PasswordEnter" @oninput=@(args => password = args.Value.ToString()) @onfocus="@(args => OnPasswordFocus(args))" Style=@($"width:100%;font-size:{LoginFontSize};font-weight:{LoginFontWeight};") />
                <RadzenRequiredValidator Component="Password" Text=@PasswordRequired />
            </div>
        </div>
    </RadzenColumn>
</RadzenRow>

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="4px" Wrap="FlexWrap.NoWrap">
<ButtonFuncRadzen @attributes="@AttributesFuncButton"
                  OnClickResultF1="@OnClickResultF1"
                  OnClickResultF4="@OnClickResultF4">
</ButtonFuncRadzen>
</RadzenStack>
