@inherits HtTitleValueBase
@using ExpressionDBBlazorShared.Validator;
@using ExpressionDBBlazorShared.Services;

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="FlexWrap.NoWrap" Gap="0">
    @{
        bool bBara = Title.Contains(SharedConst.STR_HT_BARA_COLOR_CONTAINS);
    }
    <RadzenRow class="rz-text-align-left" AlignItems="AlignItems.Center" Gap="0.5rem" RowGap="0.5rem" Style="width:100%">
        <RadzenColumn Size=@(ColumnSize)>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.P" style=@($"font-size:{FontSizeLabel};font-weight:{FontWeightBold};")>
                @{
                    string strValue = Title;
                    strValue = strValue.Replace("\\n", "\n");
                }
                @if (strValue.Contains("\n"))
                {
                    string[] lines = strValue.Split("\n");
                    @for (int i = 0; i < lines.Length; i++)
                    {
                        <div>
                            @if ((IsDispRequiredMark || Required) && i == lines.Length - 1)　@* && !Disabled *@　@* 必須項目でも、表示のみ対応したい場合があるためDisabledがfalseであることの条件は外した *@
                            {
                                @lines[i]<span style="color: red;">@RequiredDisplaySuffix</span>
                            }
                            else
                            {
                                @lines[i]
                            }
                        </div>
                    }
                }
                else
                {
                    @if (IsDispRequiredMark || Required)@* && !Disabled *@　@* 必須項目でも、表示のみ対応したい場合があるためDisabledがfalseであることの条件は外した *@
                    {
                        @strValue<span style="color: red;">@RequiredDisplaySuffix</span>
                    }
                    else
                    {
                        @strValue
                    }
                }
            </RadzenText>
        </RadzenColumn>
        <RadzenColumn Size=@(Textnewline ? 12 : 12 - ColumnSize)>
            
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="FlexWrap.NoWrap" Gap="0">
                <RadzenTextBox id="@Id" Disabled="@Disabled" Value="@(bBara && Disabled && Value == "0" ? "" : Value)" Name="@Name" Class="w-100" MaxLength="@MaxLength" Style=@($"width:100%;font-size:{FontSizeTextBox};font-weight:{FontWeightBold};text-align:{ValueTextAlign};{(bBara && Disabled ? "color:#ff0000" : "")}") Change="OnChange" ValueChanged="OnValueChanged" @onkeypress="@(args => OnKeyPress(args))" @onfocus="@(args => OnFocus(args))" />
                @if (Required)
                {
                    <RequiredValidator For="() => Value" ItemName=@(@Title.Replace("\\n",string.Empty)) />
                }
                @if (Min is not null || Max is not null)
                {
                    <NumericRangeValidator For="() => Value" ItemName=@(@Title.Replace("\\n",string.Empty)) Min=@Min Max=@Max />
                }
                @if (RegexPattern is not null)
                {
                    <RegexValidator For="() => Value" ItemName=@(@Title.Replace("\\n",string.Empty)) PatternString=@RegexPattern />
                }
                <RadzenBadge IsPill="true" Visible="@IsMixed" BadgeStyle="BadgeStyle.Warning" Text="混載" Style=@($"background-color:{BackColorBadge};font-size:{FontSizeBadge};line-height:{LineHeightBadge};") />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>

</RadzenStack>

@code
{
    [Parameter]
    public bool IsMixed { get; set; } = false;
    [Parameter]
    public EventCallback<string> Change { get; set; }

    [Parameter]
    public EventCallback<DateTime> Change2 { get; set; }
    /// <summary>
    /// 最大文字数（nullは制限なし）
    /// </summary>
    [Parameter]
    public long? MaxLength { get; set; } = null;
    /// <summary>
    /// 最小値（nullは制限なし）
    /// </summary>
    [Parameter]
    public decimal? Min { get; set; } = null;
    /// <summary>
    /// 最大値（nullは制限なし）
    /// </summary>
    [Parameter]
    public decimal? Max { get; set; } = null;

    /// <summary>
    /// 正規表現文字列
    /// </summary>
    [Parameter]
    public string? RegexPattern { get; set; } = null;
    /// <summary>
    /// 二段表示の有無
    /// </summary>
    [Parameter]
    public bool Textnewline { get; set; } = false;

    [Parameter]
    public bool IsDispRequiredMark { get; set; } = false;

    /// <summary>
    /// 必須マークの表示
    /// Requiredがtrueではないが、必須マークを表示したい場合にtrueとする。TODO 力押しな対応なので他に良い方法があれば採用する
    /// </summary>
   

    //TODO パラメータなどで指定できるようにしたい。少なくともEnumで指定したい
    /// <summary>
    /// Valueテキスト寄せ方向
    /// left,right,center
    /// </summary>
    [Parameter]
    public string? ValueTextAlign { get; set; } = "left";

    /// <summary>
    /// データ変更イベント
    /// </summary>
    /// <param name="args"></param>
    private async void OnValueChanged(string args)
    {
        Value = args;
        await ValueChanged.InvokeAsync(Value);
    }
    /// <summary>
    /// チェンジイベントを上位に連携する
    /// </summary>
    /// <param name="args"></param>
    private async void OnChange(string args)
    {
        await Change.InvokeAsync(args);
    }

    private void OnKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (!string.IsNullOrEmpty(NextId))
            {
                dynamic window = _js!.GetWindow();
                if (NextId == Id)
                {
                    dynamic element1 = window.document.getElementById(Id);
                    element1.blur();
                }
                
                dynamic element = window.document.getElementById(NextId);
                if (element is not null)
                {
                    element.focus(); // カーソルを合わせる
                }
            }
        }
    }
    private async void OnFocus(FocusEventArgs e)
    {
        // 最終フォーカスID更新
        ChildBaseService.LastFocusId = Id;

        // _jsを使用する方法では、画面遷移時初回は_jsがnullのためjavascriptコードを呼び出す方法とする
        await JS.InvokeVoidAsync("selectText", Id);
    }
}
